.left-side {
    width: 33%;
    float: left;
}

.right-side {
    width: 27%;
    float: right;
}

.middle-side {
    width: 40%;
    float: left;
}


.program-card.selected {
    background-color: #3a746e; /* Replace with your theme's primary color */
}
