.user-profile-container {
    display: flex;
    padding: 80px 50px;
  }
  
  .side-menu {
    width: 25%;
    padding: 50px;
    margin-left: 50px;
    border-radius: 25px;
    text-align: center;
    border: 2px solid white,
  }

  .container-image {
    position: relative;
  }
  
  #profile-image {
    width: 55%;
    border-radius: 50%;
  }

  #add-image {
    height: 25px;
    position: absolute;
    right: 3px;
    bottom: 7%;
    cursor: pointer;
    margin-right: 14% !important;
  }
  
  .menu-option {
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
  }

  .menu-option::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .menu-option:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .selected::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .about-you {
    color: var(--gray-color);
    text-align: center;
    margin-top: 0 !important;
    font-size: 400%;
    margin-bottom: 20px;
  }
  
  .content {
    width: 100%;
    justify-content: center;
  }

  .field-name {
    text-align: left;
    width: 95%;
    margin: auto;
  }
  
  .update-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  

  