:root {
  --background-color: #3a0820;
  --background-red: #59253A;
  --accent-red: #78244c;
  --light-red: #895061;
  --background-blue: #2d4159;
  --accent-blue: #0677a1;
  --primary-color: #0056a7;
  --yellow-color: #c7e410;
  --gray-color: #4e4b66;
  --text-color: white;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-red);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
